:root {
    --color-white: #FFF;
    --color-black: #000;
    --color-gray: #808080;
    --color-lgray: #c9c9c9;
    --color-blue: #2087CA;
    --color-lblue: #28AAFF;
    --color-green: #59B445;
    --color-lgreen: #6BDA53;
    --color-red: #FF3200;
    --color-lred: #FF7B5C;
    --back-gradient: linear-gradient(90deg, #EDF3FF, #E6F6FD);
    font-size: 16px !important;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 110px;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    z-index: 3;
}

header .logo img{
    height: 80px;
}

.header {
    background-color: var(--color-white);
    height: 110px;
    border-bottom: 1px solid var(--color-gray);
    padding: 15px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: transform .1s linear;
}

.header.hide{
    transform: translateY(-110px);
}

header .header nav a{
    font-size: 1.125rem;
    font-weight: 650;
    color: var(--color-blue);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.5s all ease;
}

header .header nav a:hover{
    color: var(--color-green);
    border-bottom: 2px solid var(--color-green);
}   

.nomer p{
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0%;
}

header .header button{
    background: var(--color-blue);
    border: none;
    outline: none;
    height: 30px;
    transition: 0.5s all ease;
}

#open_form2{
    background: var(--color-green);
}

header .header button:hover{
    background: var(--color-lblue);
}

#open_form2:hover{
    background: var(--color-lgreen);
}

header .header button p{
    color: var(--color-white);
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0%;
}

.nazvanie a{
    font-size: 1.125rem;
    font-weight: 650;
    color: var(--color-blue);
    text-decoration: none;
}

.nazvanie code{
    font-size: 1.125rem;
    font-weight: 650;
    color: var(--color-green);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    background: var(--back-gradient);
    border-top: 1px solid var(--color-gray);
    padding: 20px
}

footer .verh{
    padding-bottom: 20px;
}

footer .sered{
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .svyaz div img{
    margin: 0px 6px 0px 0px;
}

footer .svyaz p{
    font-size: 1rem;
    font-weight: 600;
    margin: 0%;
}

footer .svyaz div p{
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0%;
}

footer .ss p{
    font-size: 1rem;
    font-weight: 600;
    margin: 0%;
}

footer .ss a{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-black);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

footer .ss a img{
    margin: 0px 6px 0px 0px;
}

footer .dan_ob_org p{
    font-size: 1rem;
    font-weight: 600;
    margin: 0%;
}

footer .dan_ob_org div p{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-black);
}

footer .sered{
    border-top: 1px solid var(--color-gray);
}

footer .sered p{
    font-size: 0.875rem;
    font-weight: 300;
}

footer .niz p{
    font-size: 1.25rem;
    font-weight: 600;
    opacity: 0.3;
}

main{
 padding: 20px;
}

.uslugi h2{
    padding-bottom: 15px;
}

main .box img{
    border-radius: 20px;
    width: 100%;
}

main .box div{
    height: 60px;
    align-items: center;
}

main .box a{
    color: var(--color-blue);
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s all ease;
    text-align: center;
}

main .box a:hover{
    color: var(--color-green);
}

section .elastic li{
    transition: all ease 500ms;
    list-style-type: none;
    font-size: 1.125rem;
    font-weight: 500;
}

section .elastic li::before{
    content: '✙ ';
    color: var(--color-blue);
}

section .elastic li.hide{
    display: none;
}

section .elastic a{
    color: var(--color-black);
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all ease;
}

section .elastic a:hover{
    color: var(--color-blue);
}

section .elastic code{
    color: var(--color-blue);
    font-size: 1.125rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.poisk input{
    width: 95%;
    height: 30px;
    background: none;
    font-size: 1.125rem;
    font-weight: 500;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid black;
    outline: none;
    transition: .3s;
}

.poisk input:focus{
    width: 100%;
    border-color: var(--color-blue);
}

.poisk{
    background-image: url(css_img/bg1.jpg);
    background-size: 100%;
    padding: 20px;
}

.poisk img{
    height: 420px;
}

.tezis{
    padding: 30px;
}

.tezis h2{
    padding-bottom: 40px;
}

.tezis p{
    font-size: 1.125rem;
    font-weight: 500;
}

.tezis strong{
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-blue);
}

.tez_k{
    height: 150px;
    background-image: url(css_img/kruglyash.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-items: center;
    padding-left: 70px;
}

.tez_m{
    height: 150px;
    background-image: url(css_img/karta.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-items: center;
    padding-left: 70px;
}

.karta{
    padding-bottom: 60px;
    padding-top: 40px;
}

.karta h2{
    padding-bottom: 30px;

}

.map{
    height: 400px;
    width: 100%;
    border-radius: 14px 14px 14px 14px;
    overflow: hidden;
    position: relative;
}

[class*="copyrights-pane"] {
	display: none !important;
}

.vrachi{
    background-image: url(css_img/bg1.jpg);
    background-size: 100%;
    padding: 20px;
}

.vrachi h2{
    padding-top: 20px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1180px;
    width: 100%;
    height: auto;
    margin: 50px auto;
    position: relative;
}

.swiper {
    display: flex;
    max-width: 1180px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.swiper .swiper-wrapper {
    box-sizing: content-box;
}
  
.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: var(--back-gradient);
    border-radius: 20px;
}
  
.card__image {
    height: 400px;
}
  
.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
  
.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    flex-grow: 1;
}
  
.card__title {
    margin: 0;
    margin-bottom: 15px;
}
  
.card__descr {
    margin: 0;
    margin-bottom: 15px;

}
  
.card__btn {
    margin-top: auto;
    border: none;
    padding: 10px 20px;
    color: #fff;
    background-color: var(--color-blue);
    cursor: pointer;
    transition: 0.5s all ease;
}

.card__btn:hover {
    background-color: var(--color-lblue);
}
  
.okno {
    height: 665px;
}

.card {
    height: 100%;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal_box {
    position: relative;
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
}

.close_modal {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.close_modal svg path {
    transition: fill .4s;
}

.close_modal:hover svg path {
    fill: var(--color-blue);
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal_box {
    transform: scale(1);
}

.modal_box img{
    padding-bottom: 40px;
}

.auth input{
    width: 60%;
    height: 30px;
    background: none;
    font-size: 1.125rem;
    font-weight: 500;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid black;
    outline: none;
    transition: .3s;
}

.modal_box h2{
    padding-bottom: 30px;
    text-align: center
}

.modal_box a{
    color: var(--color-blue);
    text-decoration: none;
}

.modal_box input:focus{
    width: 70%;
    border-color: var(--color-blue);
}

.modal_box .sub input{
    width: 60%;
    height: 30px;
    background: none;
    font-size: 1.125rem;
    font-weight: 500;
    display: block;
    border: 2px solid black;
    outline: none;
    transition: .3s;
}

.modal_box .sub input:hover{
    width: 70%;
    border-color: var(--color-blue);
}

.page_not_found h1{
    padding: 20px;
    text-align: center;
}

.page_not_found a{
    color: var(--color-blue);
    text-decoration: none;
}

.page_not_found img{
    height: 800px;
    padding: 20px;
}