{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="page_not_found">
            <h1>Работа с запросами</h1>
        </div>
    </div>

    <sectition class="query">
        <div class="container">
            <div class="query_link">
                <a href="{{ url_for('query.selectPatient') }}" class="d-flex justify-content-center">
                    <button class="col-6">
                        <p>Запросить данные о назначенных пациентах</p>
                    </button>
                </a>
            </div>
        </div>
    </sectition>

    <sectition class="query">
        <div class="container">
            <div class="query_link">
                <a href="{{ url_for('query.selectInspection') }}" class="d-flex justify-content-center">
                    <button class="col-6">
                        <p>Запросить данные о проводимых осмотрах</p>
                    </button>
                </a>
            </div>
        </div>
    </sectition>

    <div class="container">
        <div class="page_not_found">
            <h1>Вернуться на <a href="{{ url_for('index') }}">главную страницу</a></h1>
        </div>
    </div>
{% endblock content %}