{% extends 'base.html' %}

{% block content %}
    <sectition class="query">
        <div class="container">
            <h2>Перейти к личному кабинету</h2>
            <div class="query_link">
                <a href="{{ url_for('account.getAccount') }}" class="d-flex justify-content-center">
                    <button class="col-6">
                        <p>Перейти</p>
                    </button>
                </a>
            </div>
        </div>
    </sectition>

    <sectition class="query">
        <div class="container">
            <h2>Перейти к списку услуг и корзине</h2>
            <div class="query_link">
                <a href="{{ url_for('basket.market_index') }}" class="d-flex justify-content-center">
                    <button class="col-6">
                        <p>Перейти</p>
                    </button>
                </a>
            </div>
        </div>
    </sectition>
{% endblock content %}